.event-based-outfits-container {
  padding: 50px;
  background: linear-gradient(to right, #f7f7f7, #f7f7f7);
}

.event-based-outfits-heading {
  font-family: 'Arial', sans-serif; /* Changed to a non-cursive font */
  font-size: 2.5em;
  color: #ff4081; /* A vibrant color to appeal to Gen Z */
  text-align: center;
  margin-bottom: 50px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid; /* Cursor effect */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ff4081; }
}


.event-based-outfits {
  display: grid;
  grid-template-columns: repeat(7, 5fr);
  grid-template-rows: 2fr 2fr;
  gap: 30px;
  background: linear-gradient(to right, #f7f7f7, #f7f7f7);
  color: white;
  height: 120vh;
  box-sizing: border-box;
}

.event-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.event-card.top-left {
  grid-column: span 4;
}

.event-card.top-right {
  grid-column: span 3;
}

.event-card.bottom-left {
  grid-column: span 2;
}

.event-card.bottom-right {
  grid-column: span 5;
}

.event-card-content {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.event-card h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.event-card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s;
}
