/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ff4081; /* Myntra pink color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a slight shadow for depth */
}

.navbar-logo {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  font-size: 18px;
  position: relative;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.navbar-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-links a:hover {
  color: #ffb3b3; /* Lighter pink on hover */
}

/* Special Effects for Side Headings */
.side-heading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: #ff3e6c;
  text-align: left;
  margin: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Creates a 3D effect */
  background: linear-gradient(to right, #ff3e6c, #ffb3b3); /* Graphite-like gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, color 0.3s ease; /* Transition for hover effect */
}

.side-heading:hover {
  transform: scale(1.05); /* Slightly enlarges the heading on hover */
  color: #ff4081; /* Myntra pink color */
}
