.street-style-container {
  padding: 50px;
  background-color: #f7f7f7; /* Trendy background */
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.side-heading {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  color: #ff3e6c; 
  text-align: left;
  margin: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Creates a 3D effect */
  background: linear-gradient(to right, #ff3e6c, #ffb3b3); /* Graphite-like gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
